.user-icon {
	min-width: 3rem;
	min-height: 3rem;
	background-size: cover;
	border-radius: 100px;
	cursor: pointer;
}
.sound-list {
	margin-top: 2rem;
}
.sound-card {
	padding: 1.5rem;
	border-radius: 6px;
	max-width: 20rem;
	margin: auto;
	margin-bottom: 1rem;
	color: white;
}
.sound-image {
	width: 4rem;
	height: 4rem;
	background-size: cover;
	overflow: hidden;
	border-radius: 100px;
}
.play-icon {
	cursor: pointer;
	width: 2.5rem;
}
.actions-container {
	display: grid;
	gap: 1rem;
	grid-template-areas: "icon icon";
}
