.center-items-column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.text-center {
	text-align: center;
}

.container-stack {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.container-horizontal-stack {
	display: flex;
}
.container-align-vertical {
	align-items: center;
}
.container-align-top {
	align-items: flex-start;
}
.container-align-horizontal {
	justify-content: center;
}
.container-align-between {
	justify-content: space-between;
}
.container {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}
